#root {
  background-color: #fcfcfc;
}
.jumbotron {
  border-radius: 0;
  background-image: url("/src/img/flashcards.jpeg");
  background-color: rgba(0, 0, 0, 0.75);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card.flashcard {
  background-color: #fafafa;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.card.flashcard:hover {
  background-color: #fafafa;
  transition: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
}

.card {
  background-color: #fcfcfc;
}

.card:hover {
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
  transition: all 300ms;
}
